<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= 'WSL ' + paper['year'] + ' - ' + paper['title'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="<%= root %>/assets/css/bootstrap.css" rel="stylesheet">
    <link href="<%= root %>/assets/css/wsl.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="<%= root %>/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="<%= root %>/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= root %>/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= root %>/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= root %>/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<%= root %>/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root %>"><span class='logo'></span></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="<%= root %>"><i class='icon-home icon-white'></i> Home</a></li>
              <li class='dropdown'>
              <a href="#" class='dropdown-toggle' data-toggle='dropdown'><i class='icon-book icon-white'></i> Editions <b class='caret'></b></a>
                <ul class='dropdown-menu'>
                  <% YEARS.reverse.each do |year| %>
                    <li><a href='<%= root %>/<%= year %>/'>WSL <%= year %></a></li>
                  <% end %>
                </ul>
               <li><a href="<%= root %>/search/"><i class='icon-search icon-white'></i> Search</a></li>
              </li>
              <li><a href="http://softwarelivre.org/wsl"><i class='icon-user icon-white'></i> Community</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Downloading <%= paper['title'] %></h1>
      <p>
      Your download should start automatically in <span id="timer">9</span> seconds. If it doesn't, please
      <a rel="nofollow" class='btn btn-mini btn-success' target="_blank" href="../<%= paper['file'] %>"><i class='icon-download icon-white'></i>click here to start the download</a>.
      </p>

      <p>
      <a rel="nofollow" class='btn btn-mini btn-primary' href="../.."><i class='icon-chevron-left icon-white'></i>Go back</a>
      </p>

      <footer class='footer'>
      <p>
      Copyright © 2012–<%= Date.today.year %> - Associação Software Livre.Org. <a href="https://gitlab.com/wsl/wsl-repository">Source code</a> is licensed under the terms of <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL version 3</a>.
      <p/>
      <p>
        The copyright of each paper available in the repository is owned by
        their respective authors under the terms of Creative Commons
        <a href="http://creativecommons.org/licenses/by-nd/3.0/">Attribution-NoDerivs 3.0 Unported (CC BY-ND 3.0)</a>
        license.
      </p>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<%= root %>/assets/js/jquery.min.js"></script>
    <script src="<%= root %>/assets/js/bootstrap.min.js"></script>
    <script src="<%= root %>/assets/js/wsl.js"></script>
    <%= analytics %>
    <script>
      var count = 8;

      var counter = setInterval(timer, 1000);

      function timer()
      {
         document.getElementById("timer").innerHTML = count;
         count = count-1;

         if(count < 0)
         {
           clearInterval(counter);
           window.location = "../<%= paper['file'] %>";
           return;
         }
       }
    </script>
  </body>
</html>

